  <script>
    var opened = false;
      function menu(th){
        $(".mobbar").toggleClass("open")
            if(!opened){
                th.classList.add("is-active");
                opened = true;
            } else {
                th.classList.remove("is-active");
                opened = false;
            }
      }
  </script>
  </body>
</html>