<% include header %>

<section class="grid container">
    <div>
        <h1>НАША КОМАНДА</h1>
        <h7>Стратегия компании заключается в стабильном и уверенном движении вперёд, с целью предоставления только качественных инжиниринговых услуг при возведении объектов различной степени сложности.</h7>
        <!--div>
            <img src="img/will.jpg">
            <p style="margin-top: 1rem;">ВИЛ СМИТ (ДИРЕКТОР)</p>
        </div>
        <div>
            <img src="img/andy.jpg">
            <p style="margin-top: 1rem;">ЭНДИ ЛИ (БУХГАЛТЕР)</p>
        </div>
        <div>
            <img src="img/chris.jpg">
            <p style="margin-top: 1rem;">КРИС ДОУ (ПРОРАБ)</p>
        </div-->
    </div>
</section>

    <section class="problems container">
        <div>
            <h1>НАШи решения</h1>
            <div>
                <div>
                    <img src="svg/piggy.svg" alt="">
                </div>
                <div>
                    <p><b>Тщательная проверка сметы</b></p>
                    <p>Ошибки при составлении сметы подрядчиками могут повлечь дополнительные расходы в размере до 35%
                        исходного бюджета.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/hourglass.svg" alt="">
                </div>
                <div>
                    <p><b>Проверка расписания работ</b></p>
                    <p>Иногда сроки могут сдвигаться на 3-4 месяца, а то и выше. Заказчик несет дополнительные расходы
                        и рентабельность проекта снижается.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/document.svg" alt="">
                </div>
                <div>
                    <p><b>Проверка ведения документации</b></p>
                    <p>или отсутствие исполнительной технической документации влечет за собой срыв сроков сдачи объекта
                        и лишние расходы для заказчика.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/debt.svg" alt="">
                </div>
                <div>
                    <p><b>Проверка качества строительных материалов</b></p>
                    <p>Заказчик сначала теряет деньги на некачественных материалах, купленных по высокой цене и также
                        на ремонтах из-за преждевременного износа.</p>
                </div>
            </div>
        </div>
    </section>

<section class="grid container finished">
    <div>
        <h1>НАШЕ ОБОРУДОВАНИЕ</h1>
        <h7>	За счет использования визуального и измерительного контроля удается сохранить целостность объекта и его пригодность к дальнейшему применению.</h7>
        <div>
            <img src="img/tool1.jpg">
        </div>
        <div>
            <img src="img/tool2.jpg">
        </div>
        <div>
            <img src="img/tool3.jpg">
        </div>
    </div>
</section>


<% include footer %>