<% include header %>

<section class="grid container">
    <div>
        <h1>Наши Публикации</h1>
        <div>
            <img src="img/goals.jpg">
            <h3>ЦЕЛИ ТЕХНИЧЕСКОГО НАДЗОРА</h3>
            <p>Известно, что в данный момент строительная область на территории ...</p>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/shake.jpg">
            <h3>ОСНОВЫ ПОЗИТИВНОЙ РЕПУТАЦИИ</h3>
            <p>Положительный имидж организации — это гарант её популярности и ... </p>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/city.jpg">
            <h3>ЭКСПЛУАТАЦИОнНЫЙ ПЕРИОД ОБЪЕКТА</h3>
            <p>Современный этап развития техники позволяет применять уникальное ... </p>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/high.jpg">
            <h3>ДОЛЕВОЕ СТРОИТЕЛЬСТВО</h3>
            <p>Положительный имидж организации — это гарант её популярности и ... </p>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/inspect.jpg">
            <h3>СТРОИТЕЛЬСТВО И РОЛЬ ТЕХНАДЗОРА</h3>
            <p>Как показывает жизненный опыт, львиная доля фактически заказчиков ... </p>
            <button class="btn">Посмотреть</button>
        </div>
    </div>
</section>

    <section style="margin-top: 1rem;" class="callback container">
        <div>
            <img src="img/contact.jpg" class="shadow" alt="">
            <div>
                <h1>Заказать обратный звонок</h1>
                <p class="sub">Оставьте заявку прямо сейчас и получите бесплатную консультацию.</p>
                <form action="#">
                    <div>
                        <p>Ваше имя</p>
                        <input id="consultname" type="text">
                    </div>
                    <div>
                        <p>Ваш e-mail</p>
                        <input id="consultemail" type="email">
                    </div>
                    <button class="btn btn-yellow" id="getConsult">Получить консультацию</button>
                    <div style="position: relative; width: 100%; ">
                        <span id="callbackmsg" class="success">Ваша заявка принята! Мы ответим в ближайшее время.</span>
                        <span id="callbackerror" class="success"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>

<% include footer %>