<% include header %>

<div id="zoom" class="zoom closed hidden">
    <div>
        <img id="zoomimg" src="img/.jpg">
    </div>
</div>


<section class="grid container">
    <div>
        <h1>НАШИ АТТЕСТАТЫ АККРЕДИТАЦИИ</h1>
        <div class="pic" img="img/certificate.jpg">
            <img src="img/certificate.jpg">
            <h3>СЕРТИФИКАТ ПЕРВОГО УРОВНЯ</h3>
            <button class="btn">Увеличить</button>
        </div>
        <!--div class="pic" img="img/certificate.jpg">
            <img src="img/certificate.jpg">
            <h3>СЕРТИФИКАТ ВТОРОГО УРОВНЯ</h3>
            <button class="btn">Увеличить</button>
        </div>
        <div class="pic" img="img/certificate.jpg">
            <img src="img/certificate.jpg">
            <h3>СЕРТИФИКАТ ТРЕТЬЕГО УРОВНЯ</h3>
            <button class="btn">Увеличить</button>
        </div-->
    </div>
</section>

<section class="stats container">
    <div>
        <h1>НАША СТАТИСТИКА</h1>
        <div>
            <h6>1</h6>
            <p class="first">объектов уже завершено</p>
        </div>
        <div>
            <h6>18</h6>
            <p class="second">миллионов сэкономлено для клиентов</p>
        </div>
        <div>
            <h6>12</h6>
            <p class="third">специалистов в нашей команде</p>
        </div>
    </div>
</section>

<section class="trusts container">
        <div>
            <h1>Кто нам доверяет</h1>
            <div>
                <div>
                    <img src="svg/logo-sa.svg" alt="">
                    <div class="div"></div>
                    <p>ТОО “SA Construction Group”</p>
                </div>
            </div>
            <div class="controls">
                <button class="btn"> <img src="svg/left-arrow.svg" alt=""> </button>
                <button class="btn"> <img src="svg/right-arrow.svg" alt=""> </button>
            </div>
        </div>
    </section>

<% include footer %>