<html>
    <head>
        <title>TechSC</title>
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <style>
            body { display: flex; justify-content: center; align-items: center; height: 100vh; font-family: 'Merriweather', serif; }
        </style>
    </head>
    <body>
        <h1>Сайт будет готов через 12 дней!</h1>
    </body>
</html>