<% include header %>

<section class="map container">
    <div>
        <div>
            <h1>Где нас Найти</h1>
            <div>
                <img src="svg/location.svg">
                <p>Астана, район Есиль, ул.Сыганак 29,<br>Б/Ц "Евроцентр", блок-А  6 эт., 604 офис.</p>
            </div>
            <div>
                <img src="svg/phone.svg">
                <p>+7 (702) 000 10 05</p>
            </div>
            <div>
                <img src="svg/envelope.svg">
                <p>info@techsc.kz</p>
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2502.889908448555!2d71.38894016950631!3d51.147381242682094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424586f2593aed11%3A0x16e6a18f38c3de67!2sShatush!5e0!3m2!1sen!2skz!4v1543815592512" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>

    <section class="order container long">
        <div>
            <div>
                <h1>Получить Коммерческое Предложение</h1>
                <form action="#">
                    <div>
                        <p>Ваше имя</p>
                        <input type="text" id="comname">
                    </div>
                    <div>
                        <p>Ваш e-mail</p>
                        <input type="email" id="comemail">
                    </div>
                    <div class="text">
                        <p>Описание проекта</p>
                        <textarea id="comdesc" rows="2"></textarea>
                    </div> 
                    <button class="btn btn-yellow" id="getCom">Получить КП</button>
                    <div style="position: relative; width: 100%; ">
                        <span id="commsg" class="success">Ваша заявка принята! Мы ответим в ближайшее время.</span>
                        <span id="comerror" class="success"></span>
                    </div>
                </form>
            </div>
            <img src="img/girl.jpg" class="shadow" alt="">
        </div>
    </section>

<% include footer %>