 <section class="footer container">
        <div>
            <div>
                <img src="<%= url %>/svg/location-white.svg" alt="">
                <p>ТОО “Техстройконсалтинг”<br>Все права защищены.</p>
            </div>
            <div>
                <img src="<%= url %>/svg/envelope-white.svg" alt="">
                <p>info@techsc.kz</p>
            </div>
            <div>
                <img class="phonetop" src="<%= url %>/svg/phone-white.svg" alt="">
                <p class="phonetop">+7 (702) 000 10 05</p>
            </div>
            <div>
                <p class="copy">Сайт создан студией <a href="https://www.mangi.kz" target="_blank">mangi.kz</a></p>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        var last_known_scroll_position = 0;
        var ticking = false;
        var isopen = false;
        var x;
        var topmenu;

        function doSomething(scroll_pos) {
            var rast = topmenu.clientHeight + 15;
            if (scroll_pos > rast) {         
                x.classList.add("blacked");
            } else {
                x.classList.remove("blacked");
            }
        }

        function goto(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

        document.addEventListener("DOMContentLoaded", function () {
            var overlay = document.getElementById("overlay");
            x =           document.getElementById("menu");
            topmenu =     document.getElementById("topmenu");
            var loader =  document.getElementById("loader");
            var cmb =     document.getElementById("callmeback");
            var cmp =     document.getElementById("callmepopup");
            var zoom =    document.getElementById("zoom");
            var menu =    document.getElementById("nav-icon4");
            var box =     document.getElementById("box");
            
            menu.onclick = function (e) {
                if (!isopen) {
                    menu.classList.add("open");
                    x.classList.add("open");
                    overlay.classList.add("open");
                    isopen = true;
                } else {
                    menu.classList.remove("open");
                    x.classList.remove("open");
                    overlay.classList.remove("open");
                    isopen = false;
                }
            };
            
            cmb.onclick = function(e) {
                cmp.classList.remove("closed");
                void cmp.offsetWidth;
                cmp.classList.remove("transparent");
            };
            
            cmp.onclick = function(e) {
                if(!e.target.closest("#box")){
                    cmp.classList.add("transparent");
                    void cmp.offsetWidth;
                    setTimeout(() => { cmp.classList.add("closed");  }, 300);
                }
            };
            
            setTimeout(() => {
                loader.classList.add("loaded");
                setTimeout(() => {
                    loader.style.display = "none";
                }, 500)
            }, 1000);
            
            $("#callmebacksubmit").click((e) => {
                e.preventDefault();
                $.ajax({
                    url: "/callmeback",
                    type: "POST",
                    dataType: "json",
                    data: {"phone": $("#phone").val() },
                    success: function(data){
                        console.log(data);
                        $("#callmeresponse").removeClass("show");
                        $("#callmeerror").removeClass("show");
                        if(data.data === 1) {
                            $("#callmeresponse").addClass("show");
                        } else {
                            $("#callmeerror").html(data.message).addClass("show");
                        }
                    },
                    error: function(error){ console.log(error); }
                });
            });
            
            $("#getConsult").click((e) => {
               e.preventDefault();
               $.ajax({
                  url: "/getconsult",
                  type: "POST",
                  dataType: "json",
                  data: {"email": $("#consultemail").val(), "name": $("#consultname").val()},
                  success: function(data) {
                        console.log(data);
                        $("#callbackmsg").removeClass("show");
                        $("#callbackerror").removeClass("show");
                        if(data.data === 1) {
                            $("#callbackmsg").addClass("show");
                        } else {
                            $("#callbackerror").html(data.message).addClass("show");
                        }
                  },
                  error: function(error) { console.log(error); }
               });
            });
            
            $("#getConsult2").click((e) => {
               e.preventDefault();
               $.ajax({
                  url: "/getconsult",
                  type: "POST",
                  dataType: "json",
                  data: {"email": $("#consultemail2").val(), "name": $("#consultname2").val()},
                  success: function(data) {
                        console.log(data);
                        $("#callbackmsg2").removeClass("show");
                        $("#callbackerror2").removeClass("show");
                        if(data.data === 1) {
                            $("#callbackmsg2").addClass("show");
                        } else {
                            $("#callbackerror2").html(data.message).addClass("show");
                        }
                  },
                  error: function(error) { console.log(error); }
               });
            });
            
            $(".pic").click((e) => {
                var img = $(e.currentTarget).attr("img");
                $("#zoomimg").attr("src", img);
                $("#zoom").removeClass("closed");
                void zoom.offsetWidth;
                $("#zoom").removeClass("hidden");
            });
            
            $("#zoom").click((e) => {
                $("#zoom").addClass("hidden");
                void cmp.offsetWidth;
                $("#zoomimg").attr("src", "img/");
                setTimeout(() => { $("#zoom").addClass("closed"); }, 300);
            });
            
            $("#getCom").click((e) => {
               e.preventDefault();
               $.ajax({
                  url: "/getcom",
                  type: "POST",
                  dataType: "json",
                  data: {"email": $("#comemail").val(), 
                    "name": $("#comname").val(), "desc": $("#comdesc").val() },
                  success: function(data) {
                        console.log(data);
                        $("#commsg").removeClass("show");
                        $("#comerror").removeClass("show");
                        if(data.data === 1) {
                            $("#commsg").addClass("show");
                        } else {
                            $("#comerror").html(data.message);
                            $("#comerror").addClass("show");
                        }
                  },
                  error: function(error) { console.log(error); }
               });
            });
        });

        window.addEventListener('scroll', function (e) {
            last_known_scroll_position = window.scrollY;
            if (!ticking) {
                window.requestAnimationFrame(function () {
                    doSomething(last_known_scroll_position);
                    ticking = false;
                });
                ticking = true;
            }
        });
    </script>
</body>
</html>