<% include header %>
    <section class="prehero"></section>
    <section class="hero container">
        <div>
            <h1>Профессиональный технический надзор</h1>
            <h2>Ежедневный контроль за работой подрядчиков на стройплощадке</h2>
            <img src="img/hero.png" class="shadow" alt="">
        </div>
    </section>

    <section class="circles container">
        <div>
            <div>
                <img src="img/helmet.png" alt="">
                <p>Технический надзор <br> строительных работ</p>
            </div>
            <div>
                <img src="img/architect.png" alt="">
                <p>Архитектурный надзор <br> строительных работ</p>
            </div>
            <div>
                <img src="img/building.png" alt="">
                <p>Менеджмент <br> строительного проекта</p>
            </div>
        </div>
    </section>

    <section class="callback container">
        <div>
            <img src="img/contact.jpg" class="shadow" alt="">
            <div>
                <h1>Заказать обратный звонок</h1>
                <p class="sub">Оставьте заявку прямо сейчас и получите бесплатную консультацию.</p>
                <form action="#">
                    <div>
                        <p>Ваше имя</p>
                        <input id="consultname" type="text">
                    </div>
                    <div>
                        <p>Ваш e-mail</p>
                        <input id="consultemail" type="email">
                    </div>
                    <button class="btn btn-yellow" id="getConsult">Получить консультацию</button>
                    <div style="position: relative; width: 100%; ">
                        <span id="callbackmsg" class="success">Ваша заявка принята! Мы ответим в ближайшее время.</span>
                        <span id="callbackerror" class="success"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="problems container">
        <div>
            <h1>частые проблемы</h1>
            <div>
                <div>
                    <img src="svg/piggy.svg" alt="">
                </div>
                <div>
                    <p><b>Необоснованное превышение сметы</b></p>
                    <p>Ошибки при составлении сметы подрядчиками могут повлечь дополнительные расходы в размере до 35%
                        исходного бюджета.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/hourglass.svg" alt="">
                </div>
                <div>
                    <p><b>Срыв сроков строительства</b></p>
                    <p>Иногда сроки могут сдвигаться на 3-4 месяца, а то и выше. Заказчик несет дополнительные расходы
                        и рентабельность проекта снижается.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/document.svg" alt="">
                </div>
                <div>
                    <p><b>Некачественное ведение документации</b></p>
                    <p>или отсутствие исполнительной технической документации влечет за собой срыв сроков сдачи объекта
                        и лишние расходы для заказчика.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/debt.svg" alt="">
                </div>
                <div>
                    <p><b>Некачественные строительные материалы</b></p>
                    <p>Заказчик сначала теряет деньги на некачественных материалах, купленных по высокой цене и также
                        на ремонтах из-за преждевременного износа.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="advantages container">
        <div>
            <div>
                <h1>Наше преимущество</h1>
                <div>
                    <div>
                        <img src="svg/check.svg" alt="">
                        <p>Поможем вам избежать дополнительных расходов за счет жесткого контроля над затратами</p>
                    </div>
                    <div>
                        <img src="svg/check.svg" alt="">
                        <p>Поможем сдать объект в срок и в точном соответствии со сметной документацией</p>
                    </div>
                    <div>
                        <img src="svg/check.svg" alt="">
                        <p>Предотвратим использование некачественных строительных материалов</p>
                    </div>
                </div>
            </div>
            <img src="img/adv.jpg" class="shadow" alt="">
        </div>
    </section>

    <section class="trusts container">
        <div>
            <h1>Кто нам доверяет</h1>
            <div>
                <div>
                    <img src="img/coc.png" alt="">
                    <div class="div"></div>
                    <p>ТОО “COC Realty”</p>
                </div>
                <div>
                    <img src="img/coc.png" alt="">
                    <div class="div"></div>
                    <p>ТОО “COC Realty”</p>
                </div>
                <div>
                    <img src="img/coc.png" alt="">
                    <div class="div"></div>
                    <p>ТОО “COC Realty”</p>
                </div>
            </div>
            <div class="controls">
                <button class="btn"> <img src="svg/left-arrow.svg" alt=""> </button>
                <button class="btn"> <img src="svg/right-arrow.svg" alt=""> </button>
            </div>
        </div>
    </section>

    <section class="order container">
        <div>
            <div>
                <h1>Заказать обратный звонок</h1>
                <p class="sub">Оставьте заявку прямо сейчас и получите бесплатную консультацию.</p>
                <form action="#">
                    <div>
                        <p>Ваше имя</p>
                        <input id="consultname2" type="text">
                    </div>
                    <div>
                        <p>Ваш e-mail</p>
                        <input id="consultemail2" type="email">
                    </div>
                    <button class="btn btn-yellow" id="getConsult2">Получить консультацию</button>
                    <div style="position: relative; width: 100%; ">
                        <span id="callbackmsg2" class="success">Ваша заявка принята! Мы ответим в ближайшее время.</span>
                        <span id="callbackerror2" class="success"></span>
                    </div>
                </form>
            </div>
            <img src="img/build.jpg" class="shadow" alt="">
        </div>
    </section>
    
<% include footer %>