<html>

<head>
    <title>Tech Stroy Consulting | Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" thpe="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <section id="topmenu" class="topmenu container shadow">
        <div>
            <div>
                <img src="svg/location.svg">
                <p>г.Астана, Кургальжинское шоссе<br>13/2, офис 302</p>
            </div>
            <div>
                <img src="svg/envelope.svg">
                <p>info@techsc.kz</p>
            </div>
            <div>
                <img class="phonetop" src="svg/phone.svg">
                <p class="phonetop">+7 (700) 345 56 78</p>
            </div>
            <div>
                <button class="btn btn-yellow">Перезвоните мне</button>
            </div>
        </div>
    </section>

    <div class="overlay" id="overlay">
        <a href="#" class="active">Главная</a>
        <a href="#">Портфолио</a>
        <a href="#">Аккредитация</a>
        <a href="#">О Нас</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
    </div>

    <section class="navbar container" id="menu">
        <div>
            <div>
                <img src="svg/logo-white.svg" alt="">
            </div>
            <div>
                <a href="#" class="active">Главная</a>
                <a href="#">Портфолио</a>
                <a href="#">Аккредитация</a>
                <a href="#">О Нас</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>
                <div class="hamburger">
                    <div id="nav-icon4">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="prehero"></section>
    <section class="hero container">
        <div>
            <h1>Профессиональный технический надзор</h1>
            <h2>Ежедневный контроль за работой подрядчиков на стройплощадке</h2>
            <img src="img/hero.png" class="shadow" alt="">
        </div>
    </section>

    <section class="circles container">
        <div>
            <div>
                <img src="img/helmet.png" alt="">
                <p>Технический надзор <br> строительных работ</p>
            </div>
            <div>
                <img src="img/architect.png" alt="">
                <p>Архитектурный надзор <br> строительных работ</p>
            </div>
            <div>
                <img src="img/building.png" alt="">
                <p>Менеджмент <br> строительного проекта</p>
            </div>
        </div>
    </section>

    <section class="callback container">
        <div>
            <img src="img/contact.jpg" class="shadow" alt="">
            <div>
                <h1>Заказать обратный звонок</h1>
                <p class="sub">Оставьте заявку прямо сейчас и получите бесплатную консультацию.</p>
                <form action="#">
                    <div>
                        <p>Ваше имя</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Ваш e-mail</p>
                        <input type="text">
                    </div>
                    <button class="btn btn-yellow">Получить консультацию</button>
                </form>
            </div>
        </div>
    </section>

    <section class="problems container">
        <div>
            <h1>частые проблемы</h1>
            <div>
                <div>
                    <img src="svg/piggy.svg" alt="">
                </div>
                <div>
                    <p><b>Необоснованное превышение сметы</b></p>
                    <p>Ошибки при составлении сметы подрядчиками могут повлечь дополнительные расходы в размере до 35%
                        исходного бюджета.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/hourglass.svg" alt="">
                </div>
                <div>
                    <p><b>Срыв сроков строительства</b></p>
                    <p>Иногда сроки могут сдвигаться на 3-4 месяца, а то и выше. Заказчик несет дополнительные расходы
                        и рентабельность проекта снижается.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/document.svg" alt="">
                </div>
                <div>
                    <p><b>Некачественное ведение документации</b></p>
                    <p>или отсутствие исполнительной технической документации влечет за собой срыв сроков сдачи объекта
                        и лишние расходы для заказчика.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="svg/debt.svg" alt="">
                </div>
                <div>
                    <p><b>Некачественные строительные материалы</b></p>
                    <p>Заказчик сначала теряет деньги на некачественных материалах, купленных по высокой цене и также
                        на ремонтах из-за преждевременного износа.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="advantages container">
        <div>
            <div>
                <h1>Наше преимущество</h1>
                <div>
                    <div>
                        <img src="svg/check.svg" alt="">
                        <p>Поможем вам избежать дополнительных расходов за счет жесткого контроля над затратами</p>
                    </div>
                    <div>
                        <img src="svg/check.svg" alt="">
                        <p>Поможем сдать объект в срок и в точном соответствии со сметной документацией</p>
                    </div>
                    <div>
                        <img src="svg/check.svg" alt="">
                        <p>Предотвратим использование некачественных строительных материалов</p>
                    </div>
                </div>
            </div>
            <img src="img/adv.jpg" class="shadow" alt="">
        </div>
    </section>

    <section class="trusts container">
        <div>
            <h1>Кто нам доверяет</h1>
            <div>
                <div>
                    <img src="img/coc.png" alt="">
                    <div class="div"></div>
                    <p>ТОО “COC Realty”</p>
                </div>
                <div>
                    <img src="img/coc.png" alt="">
                    <div class="div"></div>
                    <p>ТОО “COC Realty”</p>
                </div>
                <div>
                    <img src="img/coc.png" alt="">
                    <div class="div"></div>
                    <p>ТОО “COC Realty”</p>
                </div>
            </div>
            <div class="controls">
                <button class="btn"> <img src="svg/left-arrow.svg" alt=""> </button>
                <button class="btn"> <img src="svg/right-arrow.svg" alt=""> </button>
            </div>
        </div>
    </section>

    <section class="order container">
        <div>
            <div>
                <h1>Заказать обратный звонок</h1>
                <p class="sub">Оставьте заявку прямо сейчас и получите бесплатную консультацию.</p>
                <form action="#">
                    <div>
                        <p>Ваше имя</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Ваш e-mail</p>
                        <input type="text">
                    </div>
                    <button class="btn btn-yellow">Получить консультацию</button>
                </form>
            </div>
            <img src="img/build.jpg" class="shadow" alt="">
        </div>
    </section>

    <section class="footer container">
        <div>
            <div>
                <img src="svg/location-white.svg" alt="">
                <p>ТОО “Техстройконсалтинг”<br>Все права защищены.</p>
            </div>
            <div>
                <img src="svg/envelope-white.svg" alt="">
                <p>info@techsc.kz</p>
            </div>
            <div>
                <img class="phonetop" src="svg/phone-white.svg" alt="">
                <p class="phonetop">+7 (700) 345 56 78</p>
            </div>
            <div>
                <p class="copy">Сайт создан студией <a href="https://www.mangi.kz" target="_blank">mangi.kz</a></p>
            </div>
        </div>
    </section>

    <script>
        var last_known_scroll_position = 0;
        var ticking = false;
        var isopen = false;
        var x;
        var topmenu;

        function doSomething(scroll_pos) {
            var rast = topmenu.clientHeight + 15;
            if (scroll_pos > rast) {         
                x.classList.add("blacked");
            } else {
                x.classList.remove("blacked");
            }
        }

        function goto(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

        document.addEventListener("DOMContentLoaded", function () {
            x = document.getElementById("menu");
            topmenu = document.getElementById("topmenu");
            var menu = document.getElementById("nav-icon4");
            var overlay = document.getElementById("overlay");
            var loader = document.getElementById("loader");
            menu.onclick = function (e) {
                if (!isopen) {
                    menu.classList.add("open");
                    x.classList.add("open");
                    overlay.classList.add("open");
                    isopen = true;
                } else {
                    menu.classList.remove("open");
                    x.classList.remove("open");
                    overlay.classList.remove("open");
                    isopen = false;
                }
            };
            setTimeout(() => {
                loader.classList.add("loaded");
                setTimeout(() => {
                    loader.style.display = "none";
                }, 500)
            }, 1000);
        });

        window.addEventListener('scroll', function (e) {
            last_known_scroll_position = window.scrollY;
            if (!ticking) {
                window.requestAnimationFrame(function () {
                    doSomething(last_known_scroll_position);
                    ticking = false;
                });
                ticking = true;
            }
        });
    </script>
</body>

</html>