<% include header %>

<section class="grid container">
    <div>
        <h1>Проекты в процессе</h1>
        <div>
            <img src="img/macdonalds.jpg">
            <h3>Макдоналдс в Астане</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/nats.jpg">
            <h3>нац. космический центр</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/nu.jpg">
            <h3>Назарбаев университет</h3>
            <button class="btn">Посмотреть</button>
        </div>
    </div>
</section>

<section class="grid finished container">
    <div>
        <h1>Завершенные проекты</h1>
        <div>
            <img src="img/tennis.jpg">
            <h3>Национальный Теннисный центр</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/regis.jpg">
            <h3>THe ST. REGIS ASTANA</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/festival.jpg">
            <h3>FESTIVAL AVENUE</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/park.jpg">
            <h3>Millenium park</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/circle.jpg">
            <h3>THe ST. REGIS ASTANA</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div>
            <img src="img/tennis.jpg">
            <h3>Национальный Теннисный центр</h3>
            <button class="btn">Посмотреть</button>
        </div>
    </div>
</section> 

<% include footer %>