<% include header %>

<div id="zoom" class="zoom closed hidden">
    <div>
        <img id="zoomimg" src="img/.jpg">
    </div>
</div>

<section class="grid container">
    <div>
        <h1>Проекты в процессе</h1>
        <div class="pic" img="img/tengiz.jpg">
            <img src="img/tengiz.jpg">
            <h3>Южный Тенгиз</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <!--div class="pic" img="img/nats.jpg">
            <img src="img/nats.jpg">
            <h3>нац. космический центр</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div class="pic" img="img/nu.jpg">
            <img src="img/nu.jpg">
            <h3>Назарбаев университет</h3>
            <button class="btn">Посмотреть</button>
        </div-->
    </div>
</section>

<section class="grid finished container">
    <!--div>
        <h1>Завершенные проекты</h1>
        <div class="pic" img="img/tennis.jpg">
            <img src="img/tennis.jpg">
            <h3>Теннисный центр</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div class="pic" img="img/regis.jpg">
            <img src="img/regis.jpg">
            <h3>THe ST. REGIS ASTANA</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div class="pic" img="img/festival.jpg">
            <img src="img/festival.jpg">
            <h3>FESTIVAL AVENUE</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div class="pic" img="img/park.jpg">
            <img src="img/park.jpg">
            <h3>Millenium park</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div class="pic" img="img/circle.jpg">
            <img src="img/circle.jpg">
            <h3>THe ST. REGIS ASTANA</h3>
            <button class="btn">Посмотреть</button>
        </div>
        <div class="pic" img="img/tennis.jpg">
            <img src="img/tennis.jpg">
            <h3>Теннисный центр</h3>
            <button class="btn">Посмотреть</button>
        </div>
    </div-->
</section> 

<% include footer %>